@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  color-scheme: dark light;
}

body {
  animation: fadeIn 1.2s;
}

.button-alura {
  border: 2px solid #2b7cdf;
  transition: box-shadow 0.5s;
}

.alura-logo {
  transition: filter 0.5s;
}

.footer-shadow {
  box-shadow: 0 -0.5rem 1rem #257be595;
}

.navbar-shadow {
  box-shadow: 0 0.5rem 5rem #257be5d4;
}

.button-alura:hover {
  box-shadow: 0 0 1.2rem #398df4;
}

.alura-logo:hover {
  filter: drop-shadow(0 0 0.5rem #257be595);
  transition: filter 0.5s;
}

.buttons-svg-mobile svg {
  display: none;
}

.button-text.active {
  display: block;
}

.card-img {
  border-radius: 1rem;
  transition: transform 400ms ease-in-out;
  transform: scale(1); 
}

.card-img:hover {
  transform: scale(1.07);
}

.hide-header-mobile {
  display: block;
}

input:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }

  .buttons-svg-mobile svg{
    display: block;
  }

  .button-text.active {
    display: block;
  }

  .button-text.inactive {
    display: none;
  }

  .button-alura.active {
    border: 2px solid #2b7cdf;
  }

  .button-alura.inactive {
    border: none;
  }

  .card-img {
    width: 270px;
    height: 140px;
  }

  .navbar-shadow {
    box-shadow: 0 0.5rem 1rem #3b93ff87;
  }
}

@media screen and (max-width: 950px) {
  .hide-header-mobile {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #3484ec;
  border-radius: 50px;
}