@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  color-scheme: dark;
}

body {
  animation: fadeIn 1.2s;
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
}

.button-alura {
  border: 2px solid #2b7cdf;
  transition: box-shadow 0.5s;
}

.alura-logo {
  transition: filter 0.5s;
}

.footer-shadow {
  box-shadow: 0 -0.5rem 1rem #257be595;
}

.navbar-shadow {
  box-shadow: 0 0.5rem 5rem #257be5d4;
}

.button-alura:hover {
  box-shadow: 0 0 1.2rem #398df4;
}

.alura-logo:hover {
  filter: drop-shadow(0 0 0.5rem #257be595);
  transition: filter 0.5s;
}

.buttons-svg-mobile svg {
  display: none;
}

.button-text.active {
  display: block;
}

.card-img {
  border-radius: 1rem;
  transition: transform 400ms ease-in-out;
  transform: scale(1); 
}

.card-img:hover {
  transform: scale(1.05);
}

.hide-header-mobile {
  display: block;
}

input:focus {
  outline: none;
}


@media screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }

  .buttons-svg-mobile svg{
    display: block;
  }

  .button-text.active {
    display: block;
  }

  .button-text.inactive {
    display: none;
  }

  .button-alura.active {
    border: 2px solid #2b7cdf;
  }

  .button-alura.inactive {
    border: none;
  }

  .card-img {
    width: 270px;
    height: 140px;
  }

  .navbar-shadow {
    box-shadow: 0 0.5rem 1rem #3b93ff87;
  }
}

@media screen and (max-width: 950px) {
  .hide-header-mobile {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #3484ec;
  border-radius: 50px;
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
